@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Anybody&family=Courier+Prime:wght@700&family=Crete+Round&family=Jost&family=Libre+Baskerville&family=Monoton&family=Nabla&family=Noto+Serif+JP:wght@500&family=Permanent+Marker&family=Press+Start+2P&family=Righteous&family=Roboto+Condensed&family=Rubik+Glitch&family=Satisfy&family=Space+Mono:ital,wght@0,700;1,400&family=Syne+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.batmanbeyond{
    font-family: 'Press Start 2P',cursive;
    height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,102,0.7),rgba(204, 0, 204, 0.7)),url(../school/gallery/gallbg.jpg);
    background-size: cover;
    background-position: center;
}
.header{
   list-style-type: none;
   display:flex;
   align-items: center;
   justify-content: space-between; 
   padding-top:45px;
   padding-left: 8%;
   padding-right: 8%; 
}
nav ul li{
    list-style-type: none;
    display: inline-flex;
    padding: 10px 30px;
}
nav ul li a{
    font-size: 18px;
    text-decoration: none;
    padding: 3px 3px;
    color:white;
    transition: all 0.3s;
}
nav ul li a:hover{
    color:purple;
    transform:rotate(0.1turn);
    text-shadow: 1px 3px 1px;
}
h1{
    color: rgb(107, 22, 107);
    font-size: 30px;
    transition: all 0.3s;
}
.titl{
    color: rgb(255, 241, 44);
}
h1:hover{
   transform:scale(1.2);
}
.donateb{
    background-color: rgb(178, 9, 201);
    padding:15px;
    border-radius: 10px;
    font-family: 'Press Start 2P',cursive;
    animation-name: change;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-size: 16px;
    transition: all 0.3s ease;
}
.donateb:hover{
    background-color:rgb(107, 22, 107);
    color:rgb(255, 241, 44) ;
    transform: scale(1.2);
    border-radius: 10px;
    cursor: pointer;
}
nav ul li a:active{
    color: black;
}
img{
    width:100%;
    object-position: center;
}
.container{
    height: 390px;
    width:390px;
    position:absolute;
    transform: translate(-50%,-50%);
    top:55%;
    left:20%;
    overflow: hidden;
    border: 10px solid rgb(250, 250, 109);
    animation-name: bord;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    border-radius: 13px;
    transition: opacity 0.4s;
}
.container:hover{
    opacity: 0.8;
}
.slider{
    object-position: center;
    width:100%;
    display: flex;
    animation: slide 16s infinite;
}
.buttonss{
    margin-top: 60px;
    margin-left: 470px;
    display: block;
    animation-name:butts;
    animation-duration: 10s;
    width: 250px;   
}
.buttonss ul li a{
    animation-name:butts;
    animation-duration: 3s;
    animation-iteration-count: 2;
}
.buttonss .greet .check{
    width: 300px;
    margin-left: 35px;
    line-height: 40px;
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}
.buttonss ul li a:hover{
    color:rgb(248, 248, 93);
    transform:rotate(0.1turn);
    text-shadow: 1px 3px 1px;
}
.name{
    font-family: 'Noto Serif JP', serif;
    font-size: 30px;
}
.name:hover{
    color: rgb(163, 31, 163);
    font-family: 'Satisfy', cursive;
    font-size: 45px;
    transition: all 0.2s ease;
    text-shadow: 1px 3px 1px;
}
.second{
    height:100vh;
    width: 100%;
    background-image: linear-gradient(rgba(102, 255, 102, 0.7),rgba(255, 255, 255, 0.7)),url(../school/gallery/gallbg1.jpg);
    background-size: cover;
    background-position: center; 
}
h2{
    padding-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-family: 'Press Start 2P', cursive;
}
.secondimg{
    display: inline-block;
}
.secondimg .yeh{
    display: block;
}
.second .tw2{
    margin-left: 10px;
    font-family: 'Noto Serif JP', serif;
}
.second img{
    height: 350px;
    width: 600px;
    border-radius: 20px;
    margin-top:30px;
    margin-left: 60%;
    display: inline-block;
}
.bott {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(200px) translateZ(0);
  }
  .bott:hover, .bott:active {
    -webkit-animation-name: sikandpic;
    animation-name: sikandpic;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function:linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;   
    animation-direction: alternate;
}
.bott i{
    margin-top: 60px;
    margin-left: 405%;
    color:rgb(42, 226, 33);
}
.bott{
    position: absolute;
    width: 150px;
    font-size: 5px;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }

}
@keyframes change{
    from{
       background-color: rgb(107, 22, 107);
    }
    to{
        background-color: white;
    }
}
@keyframes bord{
    from{
        border:10px solid rgb(250, 250, 109);
    }
    to{
        border:10px solid rgb(94, 3, 136);
    }
}
@keyframes butts{
    from{
        color:white;
    }
    to{
        color:rgb(107, 22, 107);
    }
}
@keyframes mardy{
    from{
        color: rgb(255, 241, 44);
    }
    to{
        color: rgb(107, 22, 107);
}
}
@-webkit-keyframes sikandpic {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes sikandpic {
    to {
      -webkit-transform: scale(1.5);
      transform: scale(1.1);
    }
  }